.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.unified-table {
  width: 100%;
  border-collapse: collapse;
}

.tableContainer h2 {
  color: #34495e; 
}

.unified-table th, .unified-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.unified-table th {
  background-color: #4CAF50;
  color: white;
}

.buttonContainer {
  margin-top: 20px;
}

.backButton {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.backButton:hover {
  background-color: green;
}

.tableContainer .update-button {
  background-color: #008CBA; /* Blue */
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 3px;
}

.tableContainer .update-button:hover {
  background-color: #007bb5;
}
