.pp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100%;
    background-color:  #f5f5f5;
    padding: 20px;
}

.pp .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.pp .header {
    text-align: center;
    margin-bottom: 20px;
}
.pp .text {
    color: blue;
    font-size: 48px !important;
    font-weight: 700;
}

.pp .underline {
    width: 61px !important;
    height: 6px !important;
    background-color: blue;
    border-radius: 9px !important;
    margin: auto;
    margin-top: 10px;
}

.pp .inputs {
    width: 100%;
    margin-bottom: 20px;
}
.pp .input-container {
    position: relative;
    margin-bottom: 30px; /* Increased margin to accommodate tooltips */
    width: 100%;
    /* height: 20%; */
}
.pp .input-container .username{
    height: 56px;
    
}
.pp .input {
    display: flex;
    align-items: center;  
    background-color: #eaeaea;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
    
}

.pp.input img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.pp .input input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.pp .inputs .input input{
    border: none;
}

.pp .submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pp .submit {
    width: 100%;
    max-width: 150px;
    background-color: blue;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pp .submit:hover {
    transform: scale(1.1);
}

.pp .link-container {
    margin-top: 20px;
}

.pp .link-container .link {
    color: red;
    text-decoration: none;
    font-size: 14px;
}

.pp .tooltip {
    position: absolute;
    bottom: -25px; /* Adjusted */
    left: 0;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
}

.pp .tooltip.active {
    visibility: visible;
    opacity: 1;
}
.pp .submit:hover{
    color: white ;
}