.exerciseContainer{
    height: 82vh;
}

.exerciseContainer .header {
    text-align: center;
    margin-top: 0%;

}

.exerciseContainer .text {
    color: #34495e;
    font-size: 35px;
    font-weight: 700;
}

.exerciseContainer .underline {
    width: 60px;
    height: 6px;
    background-color: #34495e;
    border-radius: 9px;
    margin: auto;
    margin-top: 10px;

}

.exerciseContainer .exercise-form {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
}

.exerciseContainer .exercise-form form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.exerciseContainer .exercise-form h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #34495e;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #2980b9;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3498db;
}


.exerciseSchedule {
    position: absolute; /* Position absolutely */
    top: 100%; /* Place below the form */
    right: 420px; /* Align to the right */
    background-color: green;
    padding: 10px 13px;
    border-radius: 4px;
    margin-top: -60px; /* Adjust spacing */
    

}
    

.exerciseSchedule a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.exerciseSchedule:hover {
    background-color: darkgreen;
}
