/* Form styling similar to Exercise form */ 
.mealContainer { 
    height: 82vh; 
    margin-top: 120px; 

} 
 
.mealContainer .header { 
    text-align: center; 
    margin-top: 0%; 
    margin-left: 95px; 
} 
 
.mealContainer .text { 
    color: #34495e; 
    font-size: 35px; 
    font-weight: 700; 
} 
 
.mealContainer .underline { 
    width: 60px; 
    height: 6px; 
    background-color: #34495e; 
    border-radius: 9px; 
    margin: auto; 
    margin-top: 10px; 
} 
 
.mealContainer .meal-form { 
    font-family: 'Source Sans Pro', Arial, sans-serif; 
    background-color: white; 
    margin-bottom: 60px; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 50%; 
    width: 30%; 
    flex-direction: column; 
    flex-wrap: wrap; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-left:500px; 
    border-radius: 6px; 
    margin-top: -40px;
} 
 
 
 
.mealContainer .form-group { 
    margin-bottom: 15px; 
    margin-left: 10px;
} 
 
.mealContainer .form-group label { 
    display: block; 
    margin-bottom: 5px; 
    color: #34495e; 
    font-weight: bold; 
} 
 
.mealContainer .form-group input { 
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
} 
 
 .mealContainer .mealSchedule button{ 
    position: absolute;  
    top: 100%;  
    right: 498px;  
    background-color: #4CAF50; 
    padding: 10px 13px; 
    border-radius: 4px; 
    margin-top: -190px; /* Adjust spacing */ 
    color: white; 
    border: none; 
    margin-right: 190px;
} 
 
.mealContainer .mealSchedule button:hover { 
    background-color: green; 
} 
 
.mealContainer .submit-button { 
    margin-top: 56px; 
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    width: 23% !important;
} 
 
.mealContainer .submit-button:hover { 
    background-color: green; 
} 
 
.mealContainer .mealback-button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    width: 23%;
}

.mealContainer .mealback-button:hover{
    background-color: green;

}